* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #fdf8e9;
  --navigation: #fffefb;
  --text-color: #232323;
  --font-family-headings: Georgia, 'Times New Roman', Times, serif;
  --font-family-text: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-logo: 'Brush Script MT', cursive;
  --body-width: 94%;
  /* var(--white) */
}
body {
  background: var(--primary);
}

/* navigation */
.navigation-menu {
  display: flex;
  justify-content: space-between;
  background: var(--navigation);
  color: var(--text-color);
  max-width: var(--body-width);
  margin: auto;
  margin-top: 15px;
  border-radius: 30px;
}
.navigation-menu div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-menu div img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}
.navigation-menu div h1 {
  font-family: var(--font-family-logo);
  font-weight: 1000;
  margin-left: 8px;
}
.navigation-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-menu ul li {
  padding: 12px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 6px;
  font-family: var(--font-family-text);
}
.navigation-menu ul li:hover {
  background: #f1f1ec;
}
.navigation-menu button {
  background-color: #1982c4;
  border: none;
  width: 150px;
  border-radius: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  font-family: var(--font-family-headings);
}
.navigation-menu button:hover {
  background-color: #55b8f6;
  cursor: pointer;
  transition: background-color 0.5s linear;
}
/* small screens and tablets */
.navigation-menu span {
  display: none;
}
.sm-navigation-menu {
  display: none;
  background: var(--navigation);
  width: 94%;
  margin: auto;
  margin-top: 8px;
  border-radius: 8px;
}
.sm-navigation-menu div {
  display: flex;
  flex-direction: column;
}
.sm-navigation-menu div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sm-navigation-menu ul li {
  padding: 12px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 6px;
  font-family: var(--font-family-text);
  /* text-align: center; */
}
.sm-navigation-menu ul li:hover {
  background: #f1f1ec;
}
.sm-navigation-menu button {
  background-color: #1982c4;
  border: none;
  width: 150px;
  border-radius: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  font-family: var(--font-family-headings);
}
.sm-navigation-menu button:hover {
  background-color: #55b8f6;
  cursor: pointer;
  transition: background-color 0.5s linear;
}
@media screen and (max-width: 992px) {
  .navigation-menu button {
    display: none;
  }
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu span {
    display: flex;
    align-items: center;
    font-size: 32px;
    margin-right: 10px;
    padding: 12px;
  }
}
/* a bug , the navigation menu for mobile is not hidden when expanded to full window */

/*main*/
main div.jumbotron {
  width: var(--body-width);
  margin: auto;
  margin-top: 15px;
  padding: 15% 10%;
  /* opacity: 0.5; */
  /* height: 100%; */
  /* padding:15% 10%; */
  /* height: 400px; */
  background: url('../../images/coffee.jpeg') no-repeat right;
  background-size: cover;
}

main div.jumbotron h2 {
  color: rgba(35, 35, 35, 1);
  font-family: var(--font-family-headings);
  font-weight: 900;
  font-size: 2em;
}
main div.jumbotron ul {
  list-style: none;
  /* padding: 10%; */
}
main div.jumbotron ul li {
  font-family: var(--font-family-text);
  font-weight: normal;
  font-size: 1.5em;
  padding: 5px;
}
main div.jumbotron ul li i {
  color: var(--text-color);
  margin-right: 5px;
}

main div.features h2 {
  color: rgba(35, 35, 35, 1);
  font-family: var(--font-family-headings);
  font-weight: 1000;
  font-size: 3em;
  text-align: center;
  padding-top: 5%;
}
main div.features p {
  font-family: var(--font-family-text);
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1%;
}
main div.features-container {
  display: flex;
  justify-content: space-around;
}
div.card {
  margin: 4%;
  border-radius: 8%;
  flex-basis: 32%;
  background: var(--navigation);
}
div.card:hover {
  cursor: pointer;
}
div.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8%;
}
div.card h5.card-title {
  font-family: var(--font-family-headings);
  font-weight: 700;
  font-size: 1.5em;
  padding: 5%;
  color: var(--text-color);
}
div.card p.card-text {
  font-family: var(--font-family-text);
  font-size: 1.1em;
  padding: 0px 5%;
  font-weight: normal;
  color: var(--text-color);
  text-align: left;
}
div.card button.card-button {
  background-color: #1982c4;
  border: none;
  width: 150px;
  padding: 10px;
  margin: 5%;
  border-radius: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  font-family: var(--font-family-headings);
}
div.card button.card-button:hover {
  background-color: #55b8f6;
  cursor: pointer;
  transition: background-color 0.5s linear;
}
@media screen and (max-width: 992px) {
  main div.features-container {
    flex-direction: column;
    flex-basis: 90%;
    margin: auto;
  }
}
/* counters */
div.counters {
  width: var(--body-width);
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
div.counters p.counter-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: var(--font-family-text);
}
div.counters p.counter-item span.counter-numbers {
  font-weight: 1000;
  font-size: 3em;
  color: #1982c4;
}
div.counters p.counter-item span.counter-text {
  font-weight: 800;
  font-size: 2em;
  color: var(--text-color);
}
@media screen and (max-width: 992px) {
  div.counters{
    flex-direction: column;
  }
  div.counters p.counter-item{
    margin: 5%;
    padding: 5%;
  }
}

/* accordion */
div.accordion-container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}
div.accordion-container h4 {
  text-align: center;
  font-family: var(--font-family-headings);
  color: var(--text-color);
  font-weight: 1000;
  font-size: 2.5em;
}

div.accordion {
  background: var(--navigation);
  margin: 2%;
  padding: 5%;
  border-radius: 20px;
  cursor: pointer;
}
div.accordion button.accordion-button {
  border: none;
  width: 100%;
  text-align: left;
  background: var(--navigation);
  font-family: var(--font-family-text);
  font-size: 1.5em;
  font-weight: normal;
  padding: 10px;
  cursor: pointer;
}
div.accordion button.accordion-button i {
  float: right;
  margin: auto;
}
/* div.accordion button.accordion-button:hover {
  background: #9d9d90;
  cursor: pointer;
  border-radius: 20px;
} */
div.accordion p.accordion-text {
  font-family: var(--font-family-text);
  font-size: 1.2em;
  font-weight: normal;
  padding-top: 5px;
  display: none;
}

.accordion-active {
  display: block;
}
/* Get in touch section */
div.contact {
  width: var(--body-width);
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
div.contact h4 {
  color: var(--text-color);
  font-family: var(--font-family-headings);
  font-size: 3em;
  text-align: center;
}
div.contact form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.contact form div {
  display: flex;
  justify-content: space-between;
}
div.contact form div input {
  flex-basis: 48%;
}
div.contact input[type='text'] {
  border: none;
  margin: 10px;
  padding: 12px;
  font-family: var(--font-family-text);
  font-size: 1.3em;
  border-radius: 20px;
  background: var(--navigation);
  outline: none;
}
div.contact input[type='text']:hover {
  outline: 1px solid #1982c4;
}
div.contact form button {
  width: 100px;
  margin: auto;
  border: none;
  padding: 15px 10px;
  background: #1982c4;
  border-radius: 20px;
  color: var(--navigation);
  font-family: var(--font-family-text);
  font-size: 1.2em;
}
div.contact form button:hover {
  width: 200px;
  transition: width 1s ease-out;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  div.contact form div{
    flex-direction: column;
  }
  div.contact form div input{
    flex-basis: 100%;
  }
  
}
/* footer section */
main footer.footer {
  background: #000;
  color: var(--navigation);
  font-family: var(--font-family-text);
  padding-bottom: 2%;
}
footer div.footer-container {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}

footer div.footer-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
footer div.footer-container ul li {
  margin-left: 15px;
}

footer p.footer-text{
  text-align: center;
  font-family: var(--font-family-logo);
  font-size: 2em;
}
footer p.footer-text span{
  color: red;
}

@media screen and (max-width: 992px) {
  footer div.footer-container{
    flex-direction: column;
  }
  footer div.footer-container ul{
    margin: 5%;
  }
}
